@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android' ;
    src: url(../fontes/idroid.otf ) format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #E7E5C1;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'Android', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
    min-width: 427px;
    
}

a.external::after{
    content: '\00A0\1f517';
}
header{
    background-image: linear-gradient(to bottom,var(--cor3), var(--cor5));
    text-align: center;
    min-height: 150px;
    padding-top: 40px;

}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.268);
    font-weight: normal;
}
header > p {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);

}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.199);
}

nav  a{
    color: var(--cor0);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration:.5s;
}

nav a:hover{
    background-color:var(--cor3);
    color: var(--cor5);
   
}
main{
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 700px;

    text-align: justify;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.427)
}

main img{
    width: 100%;
}

main img.pequenina{
    max-width: 350px;    
    display: block;
    margin: auto;

}
main h1 {
    
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}
main h2 {
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}
main p {
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px; 
    line-height: 2em;
    font-size: 1em;
    

} 
main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: #3ddc84;
    padding: 2px 6px;

}
 main a:hover{
    text-decoration: underline;
    color: #1a5c37;
 }

 div.video {
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;

    position: relative;
    padding-bottom: 60%;

 }

 div.video > iframe {

    position: absolute;
    top: 5%;
    left: 5%;

    width: 90%;
    height: 90%;


 }

 aside {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.396);
 }
 
 aside  h3 {
    background-color: #1a5c37;
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

 }

 aside > ul {
    list-style-type: '\2714\00A0\00A0' ;
    list-style-position: inside;
    columns: 2;
 }

footer{
    background-color: var(--cor5);
    text-align: center;
    color: white;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    color:white;
    text-decoration: none;
    font-weight: bolder;

}
footer a:hover{
    text-decoration: underline;
    color: #3ddc84;

}